<header class="header">
				
			<div class="ar">
				<div class="ac l22 m22 s22 padd">
					<div calss="wrapper circle ">
							<img src="https://www.w3schools.com/css/paris.jpg" width="150" height="150">
					</div>
				</div>
				<div class="ac l45 m45 s45">
					<div class="Container">
							<h3 style="font-weight: bold;">krishan Talwar</h3>
							<h5>Web App Developer</h5>
							<ul class="aione-social-icons small circle horizontal dark-solid" style="text-align: left;">
										    <li class="facebook"><a href="#" target="_blank"><span class="icon"></span><span class="label">Facebook</span></a></li>
										    <li class="twitter"><a href="#" target="_blank"><span class="icon"></span><span class="label">Twitter</span></a></li>
										    <li class="youtube"><a href="#" target="_blank"><span class="icon"></span><span class="label">Youtube</span></a></li>
										    <li class="linkedin"><a href="#" target="_blank"><span class="icon"></span><span class="label">Linkedin</span></a></li>
										    <li class="github"><a href="#" target="_blank"><span class="icon"></span><span class="label">Github</span></a></li>
								</ul>
					</div>
				</div>
				<div class="ac l33 m33 s33">
						<div class="button">
								<a href="#" class="aione-button "> <svg class="svg-inline--fa fa-paper-plane fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="paper-plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z"></path></svg> Contact Me</a>
						</div>
				</div>

			</div>
	
	<div class="ar" style="margin-top: -12px;text-align: center;margin-left: 34%;">
					<div class="ac">
						<nav id="aione_nav" class="aione-nav underline-up horizontal">
    <ul id="aione_menu" class="aione-menu">
        <li class="aione-nav-item level0"><a href="#"><span class="nav-item-text" data-hover="Home">Home</span></a></li>
        <li class="aione-nav-item level0"><a href="#"><span class="nav-item-text" data-hover="About">About</span></a></li>
        <li class="aione-nav-item level0"><a href="#"><span class="nav-item-text" data-hover="Products">Expirement</span></a></li>
        <li class="aione-nav-item level0"><a href="#"><span class="nav-item-text" data-hover="Contact">Contact</span></a></li>
    </ul>
</nav>
					</div>
				</div>

		</header>
