*{

}


body{
	 background: #DAE3E7;
	     font-family: 'Lato', arial, sans-serif;	
}

header{
	padding: 30px 0;
    background: #f5f5f5;
    border-top: 10px solid #778492;
}


.Container{

	margin-top: 5%;
	padding-top: 0%;
	
}

.container h3{
	color: #49515a;
	
    font-size: 38px;
    margin-bottom: 5px;
}

.padd{

	
	padding-left: 9%;
	padding-top: 1%;
}

img{

  border-radius: 50%;
}


.button{
	margin-top: 9%;
	text-align: center;
}

.button a{
	    background: #54ba4e;
	    border: 1px solid #54ba4e;
	    color: #fff;
	    text-transform: uppercase;	
	    font-weight: bold;
	    padding:10px;
	    text-align: center;
}



.section1{
	
	padding:20px;

}

.section1 h3{

	font-size: 24px;
	color: #545e69;
	font-weight: bold;
}


.l50{

	    color: #434343;
	    font-size: 16px;
}

.section1 p{
		    line-height: 1.3rem;
    font-size: large;
}


.section2{
		color:black;
	
	padding: 21px;
}

.section3{
		color:black;
	
	padding: 21px;
}

section{
	background: #fff;
}

.white{


}

svg{
	font-size: 8px;
    width: 18px;
}

.side1{
		color:black;
	padding: 21px;
}

.side1 ul li span{
	font-size: small;
    color: darkgrey;
    margin-left: 15px; 
}

.side1 ul li{
	padding-top: 15px;
}


.side2{
		
	padding: 21px;
}


.side2 ul li span{
	font-size: small;
    color: darkgrey;
    margin-left: 15px; 
}

.side2 ul li{
	padding-top: 15px;
}

progress{
	    color: green;
    background: aliceblue;
    width:100%;
}


.side3{
		color:black;
	padding: 21px;
	color: #666;
}


.quote{
    color: #666;
    font-size: 16px;
    border-left: 5px solid #9fdeb7;
    padding: 5px 15px;
    margin-bottom: 15px;
}


.side4{
		color:black;
	padding: 21px;
	
}

.title{
	    color: #778492;
}

.university {
    font-family: "Lato", arial, sans-serif;
    font-size: 13px;
    color: #999;
    font-weight: 600;
    padding-left: 25px;
}


.side5{
		color:black;
	padding: 21px;
	
}

.side5 .title{
	    color: #778492;
}

.svg-inline--fa {
    color: #79d19a;
}


li svg{

	margin-top: 10px;
}

.level {
    color: #999;
}



.footer {
    background: #32383e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer a{

	color: #79d19a;;
}
