.new{
        margin: 58px auto;
     
     
}



ul li{
 list-style: inherit;
        list-style: inside;
    padding: 23px;    
     
}

ui{
        list-style: inside;
}



.l60{
     background: white;    
     
}


.address{
            background: #454545;
    padding: 35px;
        
}
